<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jinja2 Demo</title>
</head>
<body>
    <h3>Betty lives in:</h3>
    <p>
        {{ users["Betty"] }}
    </p>
<!--    for loop is used like this -->
{% for username, location in users.items() %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{username}}</td>
        <td>{{location}}</td>
    </tr>
{% endfor %}

<!-- if else-->
   <table style="width:100%; text-align:center">
    <tr>
        <th>Username</th>
        <th>Location</th>
    </tr>
    {% for username, location in users.items() %}
    {% if location == "Los Angeles" %}
    <tr>
        <td>{{username}}</td>
        <td>{{location}}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</body>
</html>